<% content_for :head do %>  
  <title><%= @item.title %> - monolist</title>
  <meta name="description" content=<%= @item.title %>に関する情報です。この商品を欲しい人、持ってる人を表示しています。>
<% end %>
<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <%= image_tag(@item.large_image, alt: @item.title) %>
        </div>
      </div>
      <div class="title">
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% @item.have_users.each do |have_user| %>
            <li style="list-style:none;"><span class="gravatar"><%= link_to gravatar_for(have_user, size: 45), have_user %></span></li>
          <% end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% @item.want_users.each do |want_user| %>
            <li style="list-style:none;"><span class="gravatar"><%= link_to gravatar_for(want_user, size: 45), want_user %></span></li>
          <% end %>
        </div>
      </div>
      <div class="text-center">
        <%= link_to('楽天詳細ページへ', @item.detail_page_url, ) %>
      </div>
    </div>
  </div>
</div>
